@import "./css/common/header.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: rgba(221, 221, 221, 0.329);

}

.item_title_text {
    /* border: 1px solid red; */
    position: relative;
    margin: auto;
    text-align: center;
}

.wrapAline {
    /* border: 1px solid rgb(143, 241, 13); */
    font-size: 1rem;
    width: 100%;
    margin: 0px 0px 0px 0px;
    position: relative;
    width: 36px;
    height: 3px;
    background: #c00000;
    left: 48%;
    z-index: 1;
}



.item_title {
    padding: 30px;
    width: 1200px;
    /* min-width: 1200px; */
    margin: 0 auto;
    /* border: 2px solid rgb(107, 32, 32); */
    height: 50px;
    text-align: center;
}

.item_title_line {
    display: block;
    width: 32px;
    height: 5px;
    /* color: red; */
    line-height: 50px;
}

.main {
    width: 100%;
    /* background-color: #d3d3d3; */
}

.main_cor {
    width: 1200px;
    margin: 0 auto;
    height: 200vh;
    /* background-color: rgb(1, 175, 30); */
    /* display: flex; */
    text-align: right;
}

.main_cor:first-child {
    /* text-align: center; */
}

.cart_head {
    /* background-color: cornsilk; */
    display: flex;
    align-items: center;
    width: 800px;
    margin: 0 auto;
    height: 120px;
    border-bottom: 1px solid #DDD;
    /* padding: 15px 15px; */
}

.cart_head div {
    /* margin: 0 auto; */
}

.cart_head p {
    font-size: 15px;
}

.cart_head div {
    /* border: 1px solid red; */
    margin: 0 auto;
    width: 150px;
}

.cart_head div:first-child {
    width: 350px;
    text-align: left;

}

.cart_head div p {
    /* font-size: 0px; */
}

/* __________________ */
.product_A {
    /* height: 50px; */
    display: flex;
    /* text-align: center; */
    align-items: center;
}

.product_A img {
    /* width: 150px; */
    height: 90px;
}

.quantity_AA input {
    width: 100%;
    background-color: #C00000;
}

..quantity_A {
    /* padding: 151px; */
    /* margin: 100px; */
}


.quantity_A button {
    width: 30px;
    /* border-radius: 50%; */
    outline: none;
}

.toal_A {
    position: relative;
}

.toal_A::before {
    content: "";
    display: block;
    width: 20px;
    height: 1px;
    position: absolute;
    background-color: rgb(0, 0, 0);
    right: -35%;
    bottom: 50%;
    transform: rotate(45deg);
    /* color: skyblue; */
    cursor: pointer;
}

.toal_A::after {
    content: "";
    display: block;
    width: 20px;
    height: 1px;
    position: absolute;
    /* color: rgb(0, 0, 0); */
    background-color: rgb(0, 0, 0);
    right: -35%;
    bottom: 50%;
    transform: rotate(-45deg);
    cursor: pointer;
}


/* ---賣場說明--- */
/* 消費者資訊 */
.cart_user {
    /* border: 1px solid red; */
    padding-bottom: 50px;
    width: 800px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.i_try {
    position: relative;
    color: #4b4b4b;
    font-size: 18px;
}

.i_try::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0%;
    width: 360px;
    /* height: 1px; */
    /* background-color: red; */
    background-color: #C00000;
    border: 1px solid #C00000;
}

.i_try::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0%;
    width: 360px;
    /* height: 1px; */
    background-color: #C00000;
    border: 1px solid #C00000;
}

.i_or {
    /* border: 3px solid blue; */
    color: #4b4b4b;
    position: relative;
    padding: 30px 0;
    font-size: 18px;
}

.i_or::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0%;
    width: 380px;
    background-color: #C00000;
    border: 1px solid #C00000;
}

.i_or::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0%;
    width: 380px;
    background-color: #C00000;
    border: 1px solid #C00000;
}

.cart_user .crumbs {
    border-bottom: 1px #e6e6e6 solid;
    box-sizing: border-box;
    margin: auto;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    padding: 10px;
    text-align: center;
    line-height: 60px;
}

/* -------快速結帳--- */
/* user_information */
.user_information {
    text-align: left;
    line-height: 40px;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.user_information input {
    padding: 0px 15;
    /* background-color: sienna; */
}

.email {
    width: 400px;
    height: 40px;
}

.email input {
    padding: 0 15px;
    outline: none;
    border-radius: 5px;
}

.email input:focus {
    border: 2px solid rgb(146, 209, 228);
    transition: 0.3s ease-in-out;
}

.user_cor {
    width: 500px;
    text-align: left;
    line-height: 50px;
}

.user_name {
    margin: 10 auto;
    /* text-align: center; */
}

.user_name select:focus {
    border: 2px solid rgb(146, 209, 228);
    transition: 0.3s ease-in-out;
}

.user_name div {
    /* border: 1px solid rgb(7, 7, 10); */
    padding: 10px;
    text-align: center;
}

.user_name input {
    padding: 0 15px;
    border: 1px solid rgb(148, 148, 148);
    align-items: center;
    margin: 0 auto;
    height: 40px;
    outline: none;
    border-radius: 5px;
}

.user_name input:focus {
    border: 2px solid rgb(146, 209, 228);
    transition: 0.3s ease-in-out;
    /* width: 100%; */
}

.Addredd input {
    /* border: 1px solid red; */
    display: block;
    width: 98%;
    margin: 10 auto;
}

.Addredd_A {
    /* border: 1px solid red; */
    text-align: center;
}

.all_name select {
    margin: auto;
    width: 48%;
    height: 40px;
    outline: none;
    border-radius: 5px;
    padding: 0 15px;
    border: 1px solid rgb(148, 148, 148);
}

.Addredd_A select {
    width: 98%;
    height: 40px;
    outline: none;
    border-radius: 5px;
    padding: 0 15px;
    border: 1px solid rgb(148, 148, 148);
}


.all_name {
    /* margin: 0 auto; */

    display: flex;

}

.all_name input {
    width: 48%;
    padding: 0 15px;
}


/* user_information */

.crumbs div.crumbs_a {
    width: 30%;
    height: 50px;
    cursor: pointer;
    background-color: rgb(41, 92, 192);
}

.cart_user div.crumbs_a:hover {
    background-color: rgb(37, 82, 173);
}

.cart_user div.crumbs_b {
    width: 30%;
    height: 50px;
    cursor: pointer;
    margin: 0 15px;
    background-color: rgb(201, 24, 24);
}

.cart_user div.crumbs_b:hover {
    background-color: rgb(179, 21, 21);
}

.cart_user div.crumbs_c {
    cursor: pointer;
    width: 30%;
    height: 50px;
    background-color: rgb(226, 241, 82);
}

.cart_user div.crumbs_c:hover {
    background-color: rgb(213, 228, 78);
}


/* <!-- ---- 結帳流程---- --> */

div.step {
    width: 800px;
    margin: 0 auto;
    height: 50px;
    border: 1px solid red;
    text-align: left;
}

.bread {

    width: 400px;
    /* height: 50px; */
    border: 1px solid rgb(5, 5, 12);
    display: flex;
    padding: 0 15px;
}

/* <!-- ---- 結帳流程---- --> */


/* 消費者資訊 */



.cart_head_planB {
    /* border-bottom: 1px solid red; */
    width: 800px;
    margin: 0 auto;
    text-align: left;
    padding: 10px 0;


}

#w3review {
    cursor: pointer;
    max-width: 100%;
    min-height: 120px;
    width: 100%;
    padding: 10px;
    height: auto;
    text-align: start;
}

.cart_head_planC {
    border-bottom: 1px solid rgb(0, 0, 0);
    width: 800px;
    margin: 0 auto;
    text-align: right;
    padding: 10px 0;
    line-height: 30px;
}

.cart_head_planD {
    border-bottom: 1px solid rgb(0, 0, 0);
    width: 800px;
    margin: 0 auto;
    text-align: right;
    padding: 10px 0;
    line-height: 30px;
    display: flex;
    justify-content: flex-end;
}

.login_yesno {
    width: 100px;
    height: 50px;
    /* border: 1px solid red; */
    /* padding-right: 152px; */
    text-align: center;
}

.cart_head_planD .product_bk input {
    width: 150px;
    height: 50px;
    font-size: 13px;
    cursor: pointer;
    border: transparent;
    background-color: rgb(238, 238, 238);
    outline: none;
}

.cart_head_planD .product_bk input:hover {
    background-color: rgb(206, 206, 206);
    transition: 0.5s ease-in-out;
}

#w3review {}

.cart_head_planD .product_go input {
    /* padding: 0 5px; */
    /* margin: 0 5px; */
    margin-left: 20px;
    border: transparent;
    width: 180px;
    height: 50px;
    cursor: pointer;
    background-color: #C00000;
    color: #d3d3d3;
}

.cart_head_planD .product_go input:hover {
    background-color: #9e0000;
    transition: 0.5s ease-in-out;
}