.footer {
    width: 100%;
    margin: auto;
    background-color: rgb(28, 37, 48);


}

.footerr {
    padding-top: 15px;
    width: 1200px;
    /* border: 1px solid red; */
    margin: 0 auto;
    background-color: rgb(28, 37, 48);

}

.contact-us {
    padding: 15px;
    width: 1200px;
    margin: auto;
    height: 400px;
    background-color: rgb(28, 37, 48);
}

.contact-us-title {
    /* border: 2px solid red; */
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    font-weight: bolder;
}


.contact-us-btn {
    /* border: 2px solid red; */
    display: flex;
    padding: 10px 0px;
}

.contact-us-btn input {
    background-color: rgb(37, 48, 63);
    border: transparent;
    height: 30px;
    width: 100%;
    padding: 0 15px;
}

.contact-us-btn_2 input {
    background-color: rgb(37, 48, 63);
    border: transparent;
    height: 130px;
    width: 100%;
    padding: 0 15px;
}

.contact-us-ck {
    padding: 10px 0px 0px 0px;
    color: rgb(212, 212, 212)
}

.contact-us-btn-send {
    width: 150px;
    /* height: 30px; */
    background-color: #c00000;
    padding: 10px 0;
    text-align: center;
    margin: 10px 0;
    cursor: pointer;
    color: white;
    border-radius: 2px;
    font-size: 14px;

}





.socia-madia {
    width: 1200px;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    background-color: rgb(28, 37, 48);
}

.socia-madia a {
    color: black;
    display: flex;
    justify-content: center;
    height: 75px;
    width: 75px;
    margin: 0 15px;
    background-color: rgb(28, 37, 48);
    border-radius: 8px;
    align-items: center;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
        -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    font-size: 35px;
    color: #777;
    border: 1px solid rgba(0, 0, 0, 0);
    transform: 0.5s;
}

.socia-madia a:hover {
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
        inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
        -0.5px -0.5px 0px rgba(255, 255, 255, 1),
        0.5px 0.5px 0px rgba(0, 0, 0, 15),
        0px 12px 10px -10px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0, 0.1);
    transform: translateY(2px);
}





.footer .footer_bottom {
    background-color: rgb(28, 37, 48);
    height: 50px;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    line-height: 50px;
    color: rgba(255, 255, 255, 0.7);
}