.footer {

    /* height: 400px; */
    position: relative;
    width: 100%;
    margin: auto;
    border: 1px solid red;
    background-color: rgb(116, 116, 116);
}

.footerr {
    width: 1200px;
    margin: 0 auto;
    background-color: rgb(116, 116, 116);
}

.footer .footer_bottom {
    /* background-color: yellowgreen; */
    height: 50px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    line-height: 50px;
}