h2.topline {
    width: 100%;
    height: 3px;
    background-color: #C00000;
    animation: load 1.5s ease-in;
}

@keyframes load {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.header-150 {
    /* border: 1px solid red; */
    height: 60px;
    /* background-color: brown; */

}

.title {
    text-align: center;
    line-height: 60px;
}

.header a {
    font-size: 48px;
    color: rgb(255, 255, 255);
    /* border: 3px solid red; */
}

.header a span.bbq {
    font-size: 30px;
    color: rgb(0, 0, 0);
    margin-left: 5px;
    /* border: 1px solid red; */
    padding: 5px;
    border-radius: 5%;
    background-color: #C00000;
}

.header a span.goodday {
    font-size: 35px;
    color: rgb(245, 245, 245);

    margin-left: 5px;
}

.header {
    background-color: rgb(28, 37, 48);
    box-shadow: 1px 1px 40px 0 rgba(223, 2, 2, 0.1);
    position: fixed;
    width: 100%;
    z-index: 3333;
    height: 65px;
    font-size: 0;

}

.header_co {
    /* width: 1200px; */
}


.header ul {
    /* border: 5px solid blue; */
    overflow: hidden;
    background-color: rgb(28, 37, 48);
}

.header ul li.B a {}

.header ul a {
    color: #bebebe;
    /* text-shadow: 1px 1px 0 #3f3f3f, 1px 1px 0 #000000; */
    /* color: rgb(255, 255, 255); */
    display: block;

    font-size: 1rem;
}

.ciconA {
    /* display: flex; */
}

.iconA,
.iconB {
    align-items: center;
    width: 100%;
    height: 100%;
}

.cart {

    height: 100%;
    width: 50px;
    cursor: pointer;
    padding: 10px;
    /* background-color: rgb(209, 29, 29); */
}


.user {

    height: 91%;
    width: 55px;
    cursor: pointer;
    padding: 10px;
    /* background-color: rgb(209, 29, 29); */
}




.header ul a:hover {
    background-color: #ddd;
    color: rgb(0, 0, 0);
    /* border-bottom: 1px solid red; */
}

.header .logo {
    /* border: 1px solid red; */
    /* font-size: 30px; */
    float: left;
    display: block;
    font-size: 2em;
    padding: 10px 20px;
}



.header .menu {
    /* border: 1px solid red; */
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    text-align: center;

}

.header .menu-icon {
    /* outline: 1px solid red; */
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}

.header .menu-btn {
    float: right;
    display: none;
}

.header .menu-icon .nav-icon {
    background-color: rgb(0, 0, 0);
    display: block;
    height: 4px;
    width: 22px;
    position: relative;
    transition: background .2s ease-out;
}

.header .menu-icon .nav-icon::before {
    background-color: rgb(0, 0, 0);
    display: block;
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 7px;
    transition: all .2s ease-out;
}

.header .menu-icon .nav-icon::after {
    background-color: rgb(0, 0, 0);
    display: block;
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -7px
}

.header .menu-btn:checked~.menu {
    text-align: center;
    max-height: 960px;
}

/* -------X按鈕------- */
.header .menu-btn:checked~.menu-icon .nav-icon {
    background-color: transparent;
}

.header .menu-btn:checked~.menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
}

.header .menu-btn:checked~.menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
}

@media(max-width:) {}

@media(min-width:1200px) {
    .header li {
        float: left;
        /* display: none; */
    }

    .header li a {
        padding: 20px 30px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}